#Angels{
    
    margin-bottom: 2px;
    background-color:burlywood;
    width:100%;
    
    
 
}   


@keyframes motion{
    0%{
        left:0%;
    }
    50%{
        left:50%;
    }
    100%{
        left:0%;
    }
}

.display-4{
    position: relative;
    animation-name:motion;
    animation-duration:10s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite; 
   
}

#Jesus{

    background-image: linear-gradient(to right, red, orange, yellow, green, rgb(179, 179, 201), indigo,violet);
} 




ul.li{
    text-decoration: none;
    display: inline-block;
}



      