.container{
    padding: 2px 1px;
    margin-bottom: 2px;
    background-color:burlywood;
    border-radius:0.2rem;
    
}  


h5{
    text-align: center;
}

img{
    margin: 10px;
    margin-bottom: 0;
}

.opening-txt{
    padding: 20px;
    color:white
}
figurecaption{
    display:block;
    margin-left:10px;
}

@keyframes motion{
    0%{
        left:0%;
    }
    50%{
        left:50%;
    }
    100%{
        left:0%;
    }
}

.display-4{
    position: relative;
    animation-name:motion;
    animation-duration:10s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite; 
   
}

#Jesus{

    background-image: linear-gradient(to right, red, orange, yellow, green, rgb(179, 179, 201), indigo,violet);
} 





      